
body {
    left: 0;
    top: 0;
    background-color: gray;
}


.header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 5.5rem;
    background-color: white;
    padding: 1.5rem;
    z-index: 1000;
}

.loge {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
    background-color: darkorange;
    border-color: black;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}

.suchefeld {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    height: 1rem;
    width: 4rem;
}

/* Größe Anpassen */
.suchenInput {
    border-color: black;
    height: 2rem;
    width: 4rem;

}

.suchenIcon {
    background-image: url(./../icon/Search.svg);
    object-fit: cover;
    height: 2rem;
    width: 2rem;

}

.rechteSeite {
    display: flex;
    justify-content: flex-end;
}

.home, .anderItems, .userImage {
    margin: 1rem;
    height: 1rem;
    width: 1rem;
}

.content {
    margin-top: 3rem;
}