
body {
    left: 0;
    top: 0;
    background-color: gray;
}


.header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 5.5rem;
    background-color: white;
    padding: 1.5rem;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkorange;
    border-color: black;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.suchefeld {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.5rem; /* Höhe anpassen */
    width: auto; /* Breite auf 'auto' gesetzt, um den Conatiner dybamisch zu machen */
    padding: 0.25rem; /* Etwas Polsterung hinzufgefügt */
}

.suchenInput {
    border: 0.0625rem solid black; /* 'border-color' durch 'border' ersetzte, um auch die Breite und den Stiel zu definieren */
    /* border-color: black; */
    height: 3rem;
    width: 25rem;
    font-size: 1.3rem;
    padding-left: 1.3rem; /* Hier setzen wir den linken Padding */
    border-radius: 0.625rem;
}

/* .suchenInput::placeholder */ 
/* wird nur noch gebracht wenn mann die Farbe oder was anders ändern möchte */
/* aber nicht mehr um den placeholder einzurücken, da wir das schon oben gemacht haben */




/* Icon sichtbar machen */
.suchenIcon {
    background-image: url(./../icon/Search.svg);
    object-fit: cover;
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 0.8rem;

}

.rechteSeite {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-weight: bold;
}


.rechteSeite span {
    margin: 1rem;
    cursor: pointer;
}

.content {
    margin-top: 3rem;
}


/*  Hir begint der dynamische CSS-Code
    der via Js erzeugt wurde.
    Es steht als Kommentar immer die Function 
    drüber.
*/



/* function post() */
.newPostHintergrund {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    margin: 2rem;
    margin-top: 13rem;
    margin-left: 6rem;
    height: 20rem;
    width: 48rem;
    background-color: white;
}

.heatline {
    display: flex;
    justify-content: space-around;
}

#PostLogo {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

h1 {
    margin-left: 3.5rem;
    margin-top: 3rem;
}


.post {
    display: flex;
    justify-content: space-around;
    margin-top: 3.5rem;
    margin-left: 1.5rem;
}

.post textarea {
    width: 25rem;
    height: 7.7rem;
    font-size: 1.5rem;
}

.post button {
    font-size: 1.3rem;
    font: bold;
    margin-left: 7rem;
    margin-top: 5rem;
    height: 3rem;
    width: 9rem;
}

.inputPost::placeholder {
    font-size: 1.5rem;
    color: grey;
    font: bold;
}













